body {
    background-color: #b9c5b1;
}

h1 {
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    color:#203318;
    font-family: verdana, Arial, Helvetica, sans-serif;
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
}